@import "tailwindcss";
@import "@heroui/styles"; 



:root,
.light,
.default,
[data-theme="light"],
[data-theme="default"] {

    /* Primary */
  --primary: oklch(59.98% 0.2461 29.23);
  --primary-foreground: oklch(100% 0.00011 271.152);

  /* Secondary */
  --secondary: oklch(78% 0.06 240);
  --secondary-foreground: oklch(21% 0.01 240);

  /* Theme Colors (Light Mode) */
  --accent: oklch(59.98% 0.2461 29.23);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(97.02% 0.0064 29.23);
  --border: oklch(100% 0.00011 271.152);
  --danger: oklch(65.32% 0.2358 358.79);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(94.00% 0.0064 29.23);
  --default-foreground: oklch(21.03% 0.0059 29.23);
  --field-background: oklch(100.00% 0.0032 29.23);
  --field-foreground: oklch(21.03% 0.0064 29.23);
  --field-placeholder: oklch(55.17% 0.0128 29.23);
  --focus: oklch(59.98% 0.2461 29.23);
  --foreground: oklch(21.03% 0.0064 29.23);
  --muted: oklch(55.17% 0.0128 29.23);
  --overlay: oklch(100.00% 0.0019 29.23);
  --overlay-foreground: oklch(21.03% 0.0064 29.23);
  --scrollbar: oklch(87.10% 0.0064 29.23);
  --segment: oklch(100.00% 0.0064 29.23);
  --segment-foreground: oklch(21.03% 0.0064 29.23);
  --separator: oklch(92.00% 0.0064 29.23);
  --success: oklch(73.29% 0.1960 123.86);
  --success-foreground: oklch(21.03% 0.0059 123.86);
  --surface: oklch(100.00% 0.0032 29.23);
  --surface-foreground: oklch(21.03% 0.0064 29.23);
  --surface-secondary: oklch(95.24% 0.0051 29.23);
  --surface-secondary-foreground: oklch(21.03% 0.0064 29.23);
  --surface-tertiary: oklch(93.73% 0.0051 29.23);
  --surface-tertiary-foreground: oklch(21.03% 0.0064 29.23);
  --warning: oklch(78.19% 0.1605 45.38);
  --warning-foreground: oklch(21.03% 0.0059 45.38);

  /* Border Radius */
  --radius: 0.5rem;
  --field-radius: 0.75rem;

  /* Font Family */
  /* Make sure to load Inter font in your app */
  --font-sans: var(--font-inter);
}

.dark,
[data-theme="dark"] {
  color-scheme: dark;

    /* Primary */
  --primary: oklch(59.98% 0.2461 29.23);
  --primary-foreground: oklch(99.11% 0 0);

  /* Secondary */
  --secondary: oklch(55% 0.07 240);
  --secondary-foreground: oklch(99% 0 0);

  /* Theme Colors (Dark Mode) */
  --accent: oklch(59.98% 0.2461 29.23);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(12.00% 0.0064 29.23);
  --border: oklch(28.00% 0.0064 29.23);
  --danger: oklch(59.40% 0.1992 357.68);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(27.40% 0.0064 29.23);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0.0128 29.23);
  --field-foreground: oklch(99.11% 0.0064 29.23);
  --field-placeholder: oklch(70.50% 0.0128 29.23);
  --focus: oklch(59.98% 0.2461 29.23);
  --foreground: oklch(99.11% 0.0064 29.23);
  --muted: oklch(70.50% 0.0128 29.23);
  --overlay: oklch(21.03% 0.0128 29.23);
  --overlay-foreground: oklch(99.11% 0.0064 29.23);
  --scrollbar: oklch(70.50% 0.0064 29.23);
  --segment: oklch(39.64% 0.0064 29.23);
  --segment-foreground: oklch(99.11% 0.0064 29.23);
  --separator: oklch(25.00% 0.0064 29.23);
  --success: oklch(73.29% 0.1960 123.86);
  --success-foreground: oklch(21.03% 0.0059 123.86);
  --surface: oklch(21.03% 0.0128 29.23);
  --surface-foreground: oklch(99.11% 0.0064 29.23);
  --surface-secondary: oklch(25.70% 0.0096 29.23);
  --surface-secondary-foreground: oklch(99.11% 0.0064 29.23);
  --surface-tertiary: oklch(27.21% 0.0096 29.23);
  --surface-tertiary-foreground: oklch(99.11% 0.0064 29.23);
  --warning: oklch(82.03% 0.1406 49.39);
  --warning-foreground: oklch(21.03% 0.0059 49.39);
}

body{
  font-family: "Anek Bangla", sans-serif;
}

  .slider__track {
      @apply h-1 w-full;
      /* Add transparent borders to provide space for thumb at edges */
      /* Thumb width is 1.5rem (24px), so half is 0.75rem (12px) */
  }

  /* Make youtube-video responsive and interactive */
  youtube-video,
  iframe {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    pointer-events: none;
  }

  
@keyframes slideIn {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
